<div class="content-block">
        <nav class="navbar navbar-default navigation">
            <div class="navigation-bar">
                <ul class="nav navbar-nav navigation-list">
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/users">Users</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/communication">Communication</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/events">Events</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/people">People</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/governance">Governance</a></li>                        
                </ul>
            </div>
        </nav>
</div>
<hr class="sub-menu-divider">

