<div class="imagebox imagebox-{{include.format | default: 'regular'}}" style="color: {{ include.textcolor | default: '#606c71' }}; background-color: {{ include.backgroundcolor | default: '#ffffff' }}">
  <div class="imagebox-content imagebox-content-{{include.format | default: 'regular'}}">
{% if  include.linkurl %}    
    <a href="{{ include.linkurl }}">
{% endif %}       
      <img class="imagebox-image" src="{{ include.image }}" alt="{{ include.title }} logo" >
{% if  include.linkurl %}
    </a>
{% endif %}     
    <h3> {{ include.title }} </h3>
    <p>
      {{ include.description | markdownify }}
    </p>
  </div>
{% if  include.linktext %}  
  <div class="imagebox-link">
    <a href="{{ include.linkurl }}"> {{ include.linktext }}</a>
  </div>
{% endif %}   
</div>
