<div class="content-block">
        <nav class="navbar navbar-default navigation">
            <div class="navigation-bar">
                <ul class="nav navbar-nav navigation-list">
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/tools">Tools</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/hardware">Hardware</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/support">Support</a></li>                     
                </ul>
            </div>
        </nav>
</div>
<hr class="sub-menu-divider">
