<div class="content-block">
        <nav class="navbar navbar-default navigation">
            <div class="navigation-bar">
                <ul class="nav navbar-nav navigation-list">
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/getting-started">Install</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/features">Features</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/benefits">Benefits</a></li>
                    <li class="nav-item menu-item sub-menu"><a class="sub-nav-link" href="/faq">FAQ</a></li>                       
                </ul>
            </div>
        </nav>
</div>
<hr class="sub-menu-divider">
