<div class="content-block"> 
  <a href="https://develop.opencast.org/">
    <div class="software-button" target="_blank">
      <h3 class="button-headline">Try it!</h3>
      <img class="center-image" src="assets/img/try_it_03.png"/>
    </div>
  </a>
  
  <a href="https://docs.opencast.org/r/5.x/admin/installation/" target="_blank">
    <div class="software-button" >
      <h3 class="button-headline">Install it!</h3>
      <img class="center-image" src="assets/img/install_it_03.png"/>
    </div>
  </a>  
  
  <a href="https://docs.opencast.org" target="_blank">
    <div class="software-button" >
      <h3 class="button-headline">Use it!</h3>
      <img class="center-image" src="assets/img/use_it_03.png"/>
    </div>
  </a>  
</div>
<div class="content-more"><a href="getting-started" style="float:right;">Tell me more…</a></div>
