<div class="content-block"> 
  <a href="https://develop.opencast.org/">
    <div class="software-button" target="_blank">
      <h3>Try it!</h3>
    </div>
  </a>
  
  <a href="https://docs.opencast.org/r/5.x/admin/installation/" target="_blank">
    <div class="software-button" >
      <h3 class="software-link">Install it!</h3>
    </div>
  </a>  
  
  <a href="https://docs.opencast.org" target="_blank">
    <div class="software-button" >
      <h3>Use it!</h3>
    </div>
  </a>  
</div>
<div class="content-more"><a href="/getting-started" style="float:right;">Tell me more...</a></div>
