---
---

@import "{{ site.theme }}";

.main-menu {
  max-width: 75rem;
  margin: 0 auto;
  padding: 1rem;
  font-size: 1.1rem;  
  overflow: auto;
}

li.menu-item {
 display: inline-block; 
}

li.sub-menu {
  font-size: 1.2rem;
  font-weight: 200;
}

sub-menu-divider {
  margin: 0px;
}

a.nav-link {
 display: block;
 text-align: center;
 text-decoration: none;
 padding-left: 1rem;
 padding-top: 16px;
 color: #41474c;
}

a.nav-link:hover {
  color: #1e6bb8;
  text-decoration: none;
}

a.sub-nav-link {
 display: block;
 text-align: center;
 text-decoration: none;
 padding-left: 1rem;
 color: #41474c;
}

a.sub-nav-link:hover {
  color: #1e6bb8;
  text-decoration: none;
}

ul.navigation-list {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
  float: right;
  margin-top: -2.2rem;
}

.menu-item {
    margin-left: 10px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: "Lato","Helvetica Neue",Helvetica,sans-serif;
    font-style: normal;
    font-size: 12px;
    float: left;
    padding-top: 2rem;
}

a.menu-item:hover {
    text-decoration: none;
  
}

.opencast-logo {
  width: 200px;
  height: auto;
  vertical-align: middle;
  float: left;
}

.feature-image-left {
  float: left; 
  margin-right: 20px;
  margin-bottom: 30px;
}

.feature-image-right {
  float: right;
  margin-left: 20px;
  margin-bottom: 30px;
}

.center-image {
}

.project-tagline h2 {
    color:white!important;
}

.main-content h2 {
    color: black;
}

#getting-started-with-opencast, #built-by-the-community-for-the-community, #3-reasons-university-of-manchester-chose-opencast, #see-why-leading-organizations-chose-opencast,
#how-much-does-it-cost, #how-long-does-it-take-to-setup-an-opencast-system, #how-well-will-it-integrate-with-what-we-already-have,
#how-does-opencast-compare-to-proprietary-solutions, #will-students-and-professors-like-it, #why-is-open-source-the-best-option,
#how-often-are-new-features-rolled-out-by-the-community, #get-started-now {
    color: black;
}

.image-left {
    width: 50%;
    float: left;
    margin-right: 40px;
    margin-bottom: 194px;
    border: 5px solid white;
}

.embed-container  {
  position: relative;
  padding-top: 56.25%;
}

.embed-container-2 {
    color: black;
    padding: 30px;    
}


.embed-container
.embed-container-2 h2 {
    color: black;
}

.embed-container
.embed-container-2 h3 {
    color: black;
}

#get-started-now {
    text-align: center;
}

.imagebox {
  padding: 1rem;
  display: inline-block;
  margin: 0.5rem 0.2rem;
  border: 1px solid;
}

.imagebox-regular {
  max-width: 16rem;
}

.imagebox-large {
  max-width: 25rem;
}

.imagebox-content {
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
  text-overflow: ellipsis;
}

.imagebox-content-regular {
  height: 34rem;
}

.imagebox-content-large {
  height: 40rem;
}

.imagebox-image {
  width: 100%;
  margin: 0 auto;
}

.imagebox-link {
  height: 3rem;
  padding-top: 1rem;
}

.fullsizebox {
  width: 100%;
  overflow: auto;
  display: block;
  margin: 0.5rem 0.2rem;
}

.fullsizebox-content {
  width: 100%;
  margin: 0 auto;
}

.fullsizebox-image {
  margin: 1rem;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  
}

.fullsizebox-text {
  margin: 1rem;
  display: table;
}

.fullsizebox-link {
  height: 3rem;
  padding-top: 1rem;
}

.fullsizebox-rechts {
  width: 100%;
  display: block;
  margin: 0.5rem 0.2rem;
    margin-top: -16rem;
}

.fullsizebox-content-rechts {
  width: 100%;
  margin: 0 auto;
}

.fullsizebox-image-rechts {
  margin: 1rem;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  
}

.boxgroup {
  width: 100%;
  padding: 1rem;
  overflow: auto;
  border: 1px solid;
  box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.15);
  margin-bottom: 2rem;
}

.footer {
    background-color: #0e1e25;
    width: 100%;
    padding: 2rem;
    height: 39rem;
    color: white;
    float: left;
}

.footer-image {
    margin-top: 2,5rem;
    width: 2rem;
}

.main-menu-footer {
    margin: 2rem auto 1rem auto;
    text-decoration: none;
    max-width: 75rem;
    margin: 0 auto;
    overflow: auto;
}

.nav-link-footer {
    color: white;
    width: 2rem;
}

.icons{
    margin: 0 auto;
    width: 10rem;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}
.icons a {
    padding-right: 0.8rem;
}

.apero_logo{
    margin: 0 auto;
    width: 10rem;
    margin-top: 7rem;
}


ul.navigation-list-footer {
  list-style-type: none;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

.navigation-bar-footer {
  display: table;
}

.sublinks {
    padding-top: 10px;
}

.sublinks li {
    list-style-type: none;
}

.sublinks li a {
    text-decoration: none;
    color: white;
    font-size: 0.5rem;
}

.fab {
    color: white;
}

.software-button {
    float: left;
    padding: 1rem;
    color: white;
    background-color: #159957;
    background-image: linear-gradient(120deg, {{ site.data.colors.header-green }}, {{ site.data.colors.header-blue }});
    width: 15.3rem;
    margin-right: 2rem;
    border-radius: 1rem;
    border: 1px solid black;
    text-align: center;
    margin-bottom: 1rem;
    box-shadow: 3px 3px 8px rgba(0,0,0,0.3);
}

.software-button:hover {
    background-image: linear-gradient(120deg, darken({{ site.data.colors.header-green }}, 10%), darken({{ site.data.colors.header-blue }}, 10%));
}

.software-button h3 {
    color: white;
    font-weight: bolder;
    margin-bottom: 0rem;
}

.software-button h3:hover {
    color: darken(white, 10%);
}

.sponsor {
  width: 100%;
  overflow: auto;
  display: block;
  margin: 0.5rem 0.2rem;
}

.sponsor-content {
  width: 100%;
  margin: 0 auto;
}

.sponsor-image {
  margin: 1rem;
  padding: 5px;
  border: 1px solid rgba(0,0,0,0.15);
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.1);
  
}

.sponsor-text {
  margin: 1rem;
  display: table;
}

.sponsor-link {
  height: 3rem;
  padding-top: 1rem;
}

.content-block {
  display: block;
  overflow: auto;
  width: 100%;
}


.content-more {
  display: block;
  align: right;
  overflow: auto;
  width: 100%;
}
